{% extends "base.html" %}
{% block title %}Alba E-Waste{% endblock %}

{% block content %}
<style>
    .img {
        margin: 0 20%;
    }
</style>

<div class="main_box" style="margin-top: 5%">
    <div class="row">
        <img src="{{ url_for('video_feed') }}" width="60%" height="480" class="img">
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-md-12 text-center">
            <a href="/"><button class="danger_btn" id="back_btn">Back</button></a>
            <a href="/displayImg"><button class="action_btn">Take Photo</button></a>
        </div>
    </div>
</div>

{% endblock %}